<div id='right'><h3> Create a New User </h3></div>   
<div id='left'><h3> Edit your profile </h3> </div>

<br/>

<div id='right'>
   <%= link_to "Sign Up", new_user_registration_path   %>
</div>

<br/>

<div id='left'> 
  <%= link_to "Edit", edit_user_registration_path   %>
</div>
