<br/>
<div class='post'>
   <div class='title'>
     <h3> Welcome to 'Project 1' </h3>
   </div>
 
   <div class='entry'>
      This website will let you organize your ideas, tasks and events in an elogant way.  
   </div>
</div>


