<br/>
<div class='post'>
   <div class='title'>
     <h3> Welcome to 'Project 1' </h3>
   </div>
 
   <div class='entry'>
      This website will let you organize your ideas, tasks and events in an elogant way.  
   </div>
</div>

<% content_for :sidebar do %>
   <h3>Contact Info</h3>
   <p>dkmiyani@gmail.com <br/> rajavi91@gmail.com</p>
<% end %>
